@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F8FAF9;
    --foreground: #0F1A14;
    --border: #dde8e1;
  }

  * {
    border-color: var(--border);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-body), sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading), serif;
  }
}